@font-face {
    font-family: 'ApercuBold';
    src: url('fonts/Apercu-Bold.woff') format('woff');
    /* Modern Browsers */
    src: url('fonts/ApercuBold.eot'),
        /* IE9 Compat Modes */
        url('fonts/ApercuBold.ttf') format('truetype');
    /* Safari, Android, iOS */
}

@font-face {
    font-family: 'ApercuBoldItalic';
    src: url('fonts/ApercuBoldItalic.eot');
    /* IE9 Compat Modes */
    src: url('fonts/Apercu-BoldItalic.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/ApercuBoldItalic.ttf') format('truetype'),
        /* Safari, Android, iOS */
}

@font-face {
    font-family: 'ApercuLight';
    src: url('fonts/ApercuLight.eot');
    /* IE9 Compat Modes */
    src: url('fonts/Apercu-Light.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/ApercuLight.ttf') format('truetype'),
        /* Safari, Android, iOS */
}

@font-face {
    font-family: 'ApercuMedium';
    src: url('fonts/Apercu-Medium.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/ApercuMedium.ttf') format('truetype');
    /* Safari, Android, iOS */
}

@font-face {
    font-family: 'ApercuMono';
    src: url('fonts/Apercu-Mono.woff') format('woff');
    /* Modern Browsers */
    src: url('fonts/ApercuMono.eot'),
        /* IE9 Compat Modes */
        url('fonts/ApercuMono.ttf') format('truetype');
    /* Safari, Android, iOS */
}

@font-face {
    font-family: 'ApercuRegular';
    src: url('fonts/Apercu-Regular.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/ApercuRegular.ttf') format('truetype');
    /* Safari, Android, iOS */


}

/*to set font size responsize to diff window sizes  https://www.sitepoint.com/understanding-and-using-rem-units-in-css/ */


h1 {
    font-family: 'ApercuBold';
    font-size: 3vw;
    color: #9EC680;
    font-weight: normal;
    margin: 0.5vw
}

.accordion h1 {
    font-size: calc(1em * 0.95);
    /* 75% of the inherited size */
}

h2 {
    font-family: 'ApercuMono';
    font-size: 2vw;
    color: #E9C895;
    font-weight: normal;
    bottom: 0;
    margin: 0.3vw
}

h3 {
    font-family: 'ApercuMedium';
    font-size: 2.65vw;
    color: #9EC680;
    font-weight: normal;
    line-height: 0%;
}

h4 {
    font-family: 'ApercuMono';
    font-size: 1.5vw;
    color: #E9C895;
    font-weight: normal;
    margin: 4px 6px;
}

p {
    font-family: 'ApercuRegular';
    font-size: 2vw;
    color: #E9C895;
    font-weight: normal;
}

#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(158, 198, 128, 0.95);
    /* Black background with opacity */
    z-index: 999;
    /* Specify a stack order in case you're using a different order for other elements */
}


#overlay-message.otext {
    position: absolute;
    top: 20%;
    font-family: 'ApercuMono';
    font-size: min(20vh, 9vw);
    color: #E9C895;
    text-align: center;
  
}

.cd__main {
    min-height: 450px;
}

body {
    font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle {
    display: block;
    position: fixed;
    top: 1vw;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    transition: color 0.3s ease;
}




#menuToggle input {
    display: block;
    width: 43px;
    height: 43px;
    position: absolute;
    top: -5px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}



#menuToggle .dropbtn span {
    display: block;
    width: 23px;
    height: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;

    background-color: #9EC680;
    border-radius: 1px;

    z-index: 1;

    transform-origin: 20px 20px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle .dropbtn span:first-child {
    transform-origin: 100% 0%;
}

#menuToggle .dropbtn span:nth-last-child(2) {
    transform-origin: 50% 100%;
}

#menuToggle input:checked~.dropbtn span {
    opacity: 1;
    transform: rotate(45deg) translate(-15px, 6px);
    background: #9EC680;
}


#menuToggle input:checked~.dropbtn span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked~.dropbtn span:nth-last-child(2) {
    transform: rotate(-45deg) translate(2px, 0px);
}


#menu {
    display: inline;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 300px;
    height: 100%;
    padding: 50px;
    padding-top: 125px;
    background-color: #D86586;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    left: -326px;
    transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    margin-top: 0%;
    box-shadow: 0px 0px 20px 0px #E9C895;
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked~ul {
    transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    left: 0;
}

#menu li:hover {
    color: #E9C895;
}

.cubepointer {
    position: fixed;
    bottom: -3px;
    text-align: end;

    margin-left: 11px;

}

.cubepointer p {
    color: #9EC680;
    font-size: 75%;
}



.bar4 {
    position: relative;
    left: 18vw;
    width: 85vw;
    height: 1vw;
    background-color: #D86586;
    margin: 3px 0;
}



.dropbtn {
    background-color: #D86586;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;

}

#menuToggle:hover .dropbtn {
    box-shadow: 0px 8px 16px 0px #E9C895;
}


.show {
    display: block;
}

body {
    background-color: #4347C5;
}

#pageheader {
    position: relative;
    display: inline;
    left: 60px;
}

.button {
    position: fixed;
    float: right;
    background-color: #D86586;
    border: none;
    padding-bottom: 2.66px;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 7px;
    text-align: center;
    text-decoration: none;
    bottom: 10px;
    right: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    font-family: 'ApercuMono';
    color: #9EC680;
    font-weight: normal;
    z-index: 15;
}

.button:hover {
    box-shadow: 0px 8px 16px 0px #E9C895;
}



.buttonA {
    position: fixed;
    background-color: #D86586;
    border: none;
    padding-bottom: 6px;
    padding-top: 5px;
    padding-left: 6px;
    padding-right: 5px;
    bottom: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 15;
}

.buttonA:hover {
    box-shadow: 0px 8px 16px 0px #E9C895;
}

.buttonA:focus {
    background-color: #D86586;
}

.buttonA::-moz-focus-inner {
    background-color: #D86586;
    border: none;
}



@keyframes popin {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }
}


@keyframes popout {
    0% {
        opacity: 1;
    }

    95% {
        opacity: 1;
        stroke-width: inherit;
    }

    100% {
        opacity: 0;
        stroke-width: 0;
    }
}

a {
    color: #E9C895;
}

#bm {
    /*   animation-fill-mode: forwards;
    animation: 3.85s 1 popout; */
    width: 100%;
    /*height: 56.25vw;*/
    /*margin: auto auto;*/
    background-color: #4347C5;
    position: absolute;
    top: 0;
}

div#bm path {
    stroke: #D86586;
    stroke-width: 10px;
    /*transition: opacity 0 3.85s ease-out*/
}

#bmOver {
    animation-fill-mode: forwards;
    animation: 3s 1 popin;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    max-height: 100%;
    height: 100%;
    background-color: #4347C5;
}

#OverAnim {
    width: 100%;
    Height: 100px;
    color: royalblue;
    z-index: 9;
    position: fixed;
    bottom: 0;
    right: 0;
}


#bc,
#cb,
#cc,
#dc,
#ec,
#ed {
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #D86586;
    border-width: medium;
    width: 15.3%;
    height: 27%;
    z-index: 9;
    text-align: right;
    color: inherit;
    display: inline-flex;
    align-content: end;


}

#selfie {
    position: static;
    width: 100%;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0%;
    opacity: 1;

}

#selfie:hover {
    opacity: 0;
}


#selfieUnder {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -3;
    top: 0%;
    left: 0%;
}

#selfie1 {
    position: static;
    z-index: 3;
    width: auto;
    height: 100%;
    top: 0%;
    opacity: 1;

}

#selfie1:hover {
    opacity: 0;
}


#selfie1Under {
    position: absolute;
    width: auto;
    height: 100%;
    z-index: -3;
    top: 0%;
    left: 0%;
}

.connecttext {
    position: absolute;
    top: 22vw;
}

/*
#selfieUnder:hover {
    opacity: 1;
    position: fixed;
    width:100%;
    height:100%;
    z-index: -3;
}
     Oringially couldnt make image appear in the right positioning, so just used z index and hot glue to fix
*/
.h2h {
    color: #E9C895;
    position: inherit;
    bottom: 0;
    right: 0%;
    align-self: flex-end;

    float: right;
    margin-right: 0.4em;
    margin-block-start: 0.83em;
    margin-block-end: 0.4em;


}

.h2h:hover {
    color: #D86586;
    bottom: 0;
}

#bc {
    top: 36.4%;
    left: 16.2%;

}

#cb {
    top: 8.8%;
    left: 31.8%;
}

#cc {
    top: 36.4%;
    left: 31.8%;
    object-fit: fill;
}

#dc {
    top: 36.4%;
    left: 47.4%;
    border-right: none;
}

#ec {
    top: 36.4%;
    left: 63%;
}

#ed {
    top: 64%;
    left: 63%;
    border-top: none;
}

#bd {
    position: absolute;
    display: block;
    z-index: 9;
    top: 64%;
    left: 16%;
    width: 50%;
    height: 27%;
}

#cubebuttons {
    position: absolute;
    right: 0;

}

#dc:hover {
    background-color: #E9C895;
    color: #D86586;
}

#ec:hover {
    background-color: #E9C895;
    color: #D86586;
}

#bc:hover {
    background-color: #E9C895;
    color: #D86586;
}

#ed:hover {
    background-color: #E9C895;

}

div.cubebuttons:hover h2 {
    color: #D86586;
    bottom: 0;
}

#aboutContent {
    position: relative;
    top: 0vw;
    left: 60px;
    width: 80vw;
    max-width: 1080px;
}

#aboutIMGbox {
    position: absolute;
    display: inline-block;
    width: 25%;
    top: 0vw;
    left: 10%;
    overflow-y: visible;
}

.aboutIMG {
    display: block;
    width: 100%;
    padding: 0vw;
}

.aboutText {
    position: absolute;
    display: inline-block;
    width: 65%;
    top: -2vw;
    left: 40%;
    font-family: 'ApercuRegular';
    color: #E9C895;
    font-weight: normal;
}


#expContent {
    position: relative;
    top: 0vw;
    left: 60px;
    width: 80vw;
    max-width: 1400px;
}




/* Style the tab */
.tab {
    overflow: hidden;
    border: 5px solid #D86586;
    position: relative;
    display: inline-table;
    top: -30%;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    border-right: 5px solid #D86586;
    padding: 10px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    color: #4347C5;
    background-color: #9EC680;
}

/* Create an active/current tablink class */
.tab button.active {
    color: #E9C895;
    background-color: #D86586;
    z-index: 10;
    border-bottom: 0px;

}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    background-color: #D86586;
}

#expTOPbox {
    position: relative;
    display: inline-block;
    width: 100%;
    top: 0vw;
    left: 0%;
    max-width: 1400px;
}


#expLEFTbox {
    position: relative;
    display: inline-block;
    width: 30%;
    top: auto;
    left: 0%;
    overflow-y: visible;
    vertical-align: top;
}

#expLEFTbox a {
    text-decoration: none;
}

#expRIGHTbox {
    position: relative;
    display: inline-block;
    width: 69%;
    top: 0pt;
    left: 1%;
    font-family: 'ApercuRegular';
    color: #E9C895;
    font-weight: normal;
    vertical-align: top;
}

.expbar {
    width: 30px;
    height: 5px;
    background-color: #D86586;
    margin: 3px 0;
    transition: 0.4s;
}

.expTime {
    font-family: 'ApercuMedium';
    font-size: 1.5vw;
    color: #E9C895;
    font-weight: normal;
    line-height: 50%;
}

.expRole {
    font-family: 'ApercuMedium';
    font-size: 1.5vw;
    color: #9EC680;
    font-weight: normal;
    line-height: 0%;

}

.expPlace {
    font-family: 'ApercuMedium';
    font-size: 1.5vw;
    color: #E9C895;
    font-weight: normal;
    line-height: 50%;
}

.expPlaceB {
    font-family: 'ApercuMedium';
    font-size: 1.5vw;
    color: #E9C895;
    font-weight: normal;
    line-height: 50%;
    text-decoration: none;
}

.expTimeB {
    font-family: 'ApercuMedium';
    font-size: 1.5vw;
    color: #E9C895;
    font-weight: normal;
    line-height: 50%;
    text-decoration: none;
}

li {
    font-family: 'ApercuRegular';
    font-size: 1.5vw;
    color: #9EC680;
    font-weight: normal;
}

.expList {
    position: relative;
    left: -1.5em;
    top: 0em;
}

.confident {
    line-height: 0%;
    margin-bottom: -1em;
    font-size: 1.2vw;
    color: #D86586;
}

.tool {
    line-height: 0%;
    margin-bottom: -0.5em;
    color: #E9C895;
}

#projectContent {
    position: relative;
    top: 0vw;
    left: 60px;
    width: 80vw;

    max-width: 1080px;
    object-fit: cover;
}

#projectContentC {
    position: relative;
    top: 0vw;
    left: 60px;
    width: 80vw;
    max-width: 1080px;
    height: fit-content;
    object-fit: cover;
}

div.category {
    position: relative;
    display: inline-flex;
    width: 20vw;
    height: 28vw;
    object-fit: cover;
    margin: 1vw;

}

.category img {
    z-index: -1;
    object-fit: cover;
}

div.categoryCaption {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3vw;
    width: 17vw;
    background-color: #D86586;
    font-family: 'ApercuMedium';
    font-size: 1.8vw;
    color: #E9C895;
    font-weight: normal;
    text-align: center;
    padding: 1.25vw 1.5vw 1.25vw 1.5vw;

}

.projImg {
    display: inline-flex;
    position: absolute;
    object-fit: cover;
    height: 100%;
    bottom: 5.5vw;
    clip: rect(5.5vw, 20vw, 60vw, 0vw);

}

.category:hover,
.category:focus {
    border: 5px double #E9C895;
    object-fit: none;
}

#projectContentB {
    position: relative;
    top: 0vw;
    left: 60px;
    width: 80vw;
    max-width: 1080px;
    object-fit: cover;
}

.projGallery {
    height: 20vw;
    width: 100%;
}

.imgGallery {
    height: 100%;
    width: auto;
    float: right;
    margin: 1vw;
}

.projGalleryS {
    height: 14vw;
    width: 100%;
}

.imgGalleryS {
    height: 100%;
    width: auto;
    float: left;
    margin: 0.5vw;
}



.GalleryCaption {
    display: flex;
    float: right;
    flex-direction: row;
    height: auto;
    width: min(100%, 465px);
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;


}


.GalleryCaption.h2 {
    font-size: 60%;
    text-align: right;

}



.proto {
    padding: 0vw 1.5vw 1.75vw 1.5vw;
    line-height: 90%;
}

.up1 {
    top: 0vw;
}

#connectimg {

    position: absolute;
    display: block;
    width: 20vw;
    height: 20vw;
    text-align: right;
    color: inherit;
    object-fit: fill;
}

.context {
    color: #fff;
    line-height: 95%;
}



.arrowcontainer {
    display: inline;
    flex-direction: row-reverse;
    overflow-x: visible;
    overflow-y: visible;

}




.container {
    display: block;
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s ease-out;
}

.container.active {
    transform: translateY(0);
    opacity: 1;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: right;
    position: relative;
    height: fit-content;
    object-fit: contain;
    overflow-y: visible;
    flex-direction: column-reverse;
}

.left {
    width: 46vw;
    margin-left: 2vw;

}


.right {
    width: 40vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.fillimgrow {
    display: flex;
    justify-content: space-between;
    float: right;
    width: min(100%, 465px);
    max-width: 465px;
    /* Set the maximum width to be 100px or 465px, whichever is lesser */
    margin-bottom: 0.25vw;
}

.fillimgrow img {
    max-width: 100%;
    height: auto;


}

.fillimgrow img:not(:last-child) {
    margin-right: 0.25vw;
}




.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1.5s ease-out;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.accordion {
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.6s ease-in-out;
}

.accordion h1 {
    margin-top: 0.1vw;
    margin-bottom: 0;
    margin-left: -0.1vw;
}



.right-content {
    display: flex;
    align-items: center;
}

.right-content h2 {
    font-size: calc(1em * 0.9);
    color: #4347C5;
    margin: 0.1vw;
    text-align: right;
}

.arrow {
    display: flex;
    align-items: center;
    /* Vertically centers the content */
    justify-content: center;
    /* Horizontally centers the content (if needed) */
}


.arrow svg {
    margin-left: 10px;
    width: 1.5vw;
    height: 0.8vw;
    vertical-align: middle;
    fill: none;
    stroke: #4347C5;
    stroke-linecap: butt;
    stroke-linejoin: round;
    stroke-width: 85px;
    align-content: space-around;
    transition: 0.3s;

}



.arrowcontent {
    display: table-caption;
    vertical-align: top;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: max-height 0.6s ease-in-out,
        visibility 0.6s ease-in-out,
        opacity 0.6s ease-in-out;
    width: fit-content;
}

.arrowcontent p {
    font-size: calc(1em * 0.8);
    color: #4347C5;
    margin-top: 0px;
    margin-bottom: 5px;
    cursor: pointer;
}



.accordion.aactive+.arrowcontent,
.accordion:hover+.arrowcontent {
    max-height: 300px;
    /* Adjust this value based on the content size */
    visibility: visible;
    opacity: 1;
}


.accordion.aactive .arrow svg {
    transform-origin: center center;
    transform: rotate(180deg);

}

.card {
    background-color: #D86586;
    padding: 0.5vw;
    opacity: 1;
    float: right;
    width: min(100%, (465px));
    transition:
        background-color 0.25s ease-out 0.1s,
        opacity 0.5s ease-in 1s;

}

.card:hover {
    background-color: #E9C895;

}


.card.inactive {
    opacity: 0;

}

#cube {
    position: relative;
    margin: 8px 8px;
    width: 16px;
    height: 16px;
    transform-style: preserve-3d;
    transform: rotateX(40deg) rotateY(0deg) rotateZ(70deg);
    text-align: center;
    transform-origin: center;

}

.face {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #D86586;
    border: 2px solid #9EC680;
    border-radius: 4px;
}

.cubefront {
    transform: rotateY(0deg) translateZ(8px);
}

.cubeback {
    transform: rotateY(180deg) translateZ(8px);
}

.cuberight {
    transform: rotateY(90deg) translateZ(8px);
}

.cubeleft {
    transform: rotateY(-90deg) translateZ(8px);
}

.cubetop {
    transform: rotateX(90deg) translateZ(8px);
}

.cubebottom {
    transform: rotateX(-90deg) translateZ(8px);
}

.eye {
    width: 35px;
    height: 35px;
    fill: #E9C895;
    transition: all 0.5s ease;
    /* Smooth transition for the roll out */
}

#themeButtonsContainer {
    position: fixed;
    bottom: 10px;
    left: 52px;
    /* Adjust as needed */
    display: flex;
    z-index: 14;
    /* other styling */
}

.themeButton {
    cursor: pointer;
    margin-left: 3px;
    margin-bottom: 15px;
    height: 16px;
    width: 16px;
    background-color: #9EC680;
    border: 2px solid #E9C895;
    border-radius: 5px;
    pointer-events: none;
    /* Disable click events initially */
    opacity: 0;
    /* Initially hidden */
    transition: transform 0.5s ease, opacity 0.5s ease;

}

.rolledOut .themeButton {
    pointer-events: auto;
    opacity: 1;
    /* Make buttons visible when rolled out */
}

.rolledOut .themeButton.D:hover {
    -webkit-box-shadow: 0 0 5px 2px #E9C895;
    box-shadow: 0 0 4px 2px #E9C895;
}

.rolledOut .themeButton.O:hover {
    -webkit-box-shadow: 0 0 5px 2px #444B68;
    box-shadow: 0 0 4px 2px #444B68;
}

.rolledOut .themeButton.R:hover {
    -webkit-box-shadow: 0 0 5px 2px #E9C895;
    box-shadow: 0 0 4px 2px #E9C895;
}

.rolledOut .themeButton.T:hover {
    -webkit-box-shadow: 0 0 5px 2px #7B2800;
    box-shadow: 0 0 4px 2px #7B2800;
}

.rolledOut .themeButton.E:hover {
    -webkit-box-shadow: 0 0 5px 2px #FCC662;
    box-shadow: 0 0 4px 2px #FCC662;
}

.rolledOut .themeButton.A:hover {
    -webkit-box-shadow: 0 0 5px 2px #F6BE8F;
    box-shadow: 0 0 4px 2px #F6BE8F;
}

.rolledOut .themeButton.B:hover {
    -webkit-box-shadow: 0 0 5px 2px #E5C6A7;
    box-shadow: 0 0 4px 2px #E5C6A7;
}

.rolledOut .themeButton.J:hover {
    -webkit-box-shadow: 0 0 5px 2px #BEBB74;
    box-shadow: 0 0 4px 2px #BEBB74;
}

.rolledOut .themeButton.I:hover {
    -webkit-box-shadow: 0 0 5px 2px #801738;
    box-shadow: 0 0 4px 2px #801738;
}

.rolledOut .themeButton.C:hover {
    -webkit-box-shadow: 0 0 5px 2px #324C85;
    box-shadow: 0 0 4px 2px #324C85;
}

.rolledOut .themeButton.W:hover {
    -webkit-box-shadow: 0 0 5px 2px #F8E6B8;
    box-shadow: 0 0 4px 2px #F8E6B8;
}


#themeButtonsContainer .themeButton.D {
    background-color: #4347C5;
    border: 2px solid #D86586;
    transform: translateX(-50px);
}

#themeButtonsContainer .themeButton.O {
    background-color: #ECB9B8;
    border: 2px solid #E3739B;
    transform: translateX(-66px);
}

#themeButtonsContainer .themeButton.R {
    background-color: #4347C5;
    border: 2px solid #D86586;
    transform: translateX(-82px);
}

#themeButtonsContainer .themeButton.T {
    background-color: #FBE5D0;
    border: 2px solid #B83C00;
    transform: translateX(-98px);
}

#themeButtonsContainer .themeButton.E {
    background-color: #831636;
    border: 2px solid #F45F5B;
    transform: translateX(-114px);
}

#themeButtonsContainer .themeButton.A {
    background-color: #2B1100;
    border: 2px solid #F37004;
    transform: translateX(-130px);
}

#themeButtonsContainer .themeButton.B {
    background-color: #222656;
    border: 2px solid #B9A2BE;
    transform: translateX(-146px);
}

#themeButtonsContainer .themeButton.J {
    background-color: #010004;
    border: 2px solid #59924D;
    transform: translateX(-162px);
}

#themeButtonsContainer .themeButton.I {
    background-color: #FCEAAC;
    border: 2px solid #A2C970;
    transform: translateX(-178px);
}


#themeButtonsContainer .themeButton.C {
    background-color: #D0E1FD;
    border: 2px solid #AB3334;
    transform: translateX(-194px);
}


#themeButtonsContainer .themeButton.W {
    background-color: #584036;
    border: 2px solid #889E5D;
    transform: translateX(-210px);
}

#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(158, 198, 128, 0.95);
    z-index: 9999;
    text-align: center;
    overflow: auto;
}

#lightbox-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

#lightbox-content {
    max-width: 65vw;
    max-height: 70vh;
    margin: 20px;
}

#lightbox-text-content {
    max-width: 35%;
    color: #fff;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

#lightbox-image {
    
    max-width: 100%;
    max-height: 70vh;
}

#lightbox-details {
    max-width: 100%;
    /* Adjust as necessary */
    color: #fff;
    text-align: left;
}



#lightbox-gallery-caption svg {
    display: none;
}

#lightbox-gallery-caption h1 {
    color: #D86586;
}

#lightbox-gallery-caption h2 {
    color: #E9C895;
}

#lightbox-arrow-content p {
    font-family: 'ApercuLight';
    color: #4347C5;
}

#lightbox-caption {
    color: #4347C5;
    font-size: 16px;
    margin-top: 10px;
}

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    padding-left: 7px;
    padding-right: 13px;
    padding-top: 14px;
    padding-bottom: 14px;
}

#close-button span {
    display: flex;
    width: 23px;
    height: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;

    background-color: #9EC680;
    border-radius: 1px;

    z-index: 1;
    transform: translate(-50%, -50%);
    /* Set a common transform-origin for both spans */
    transform-origin: 50% 50%;
    
}

#close-button span:first-child {
    /* Rotate the first span 45 degrees and adjust its position */
    transform: rotate(45deg) translateX(20%);
}

#close-button span:last-child {
    /* Rotate the second span -45 degrees and adjust its position */
    transform: rotate(-45deg) translateX(20%);
}


#prev-button,
#next-button {
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #D86586;
    border: none;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    text-align: center;

}



#prev-button svg,
#next-button svg {
    display: block;
    margin: auto;
    width: 23px;
    height: 16px;

    fill: none;
    stroke: #9EC680;
    stroke-linecap: butt;
    stroke-linejoin: round;
    stroke-width: 100px;
    transition: 0.3s;

}

#prev-button {
    left: 10px;
    rotate: 90deg;
}

#next-button {
    right: 10px;
    rotate: -90deg;
}

/* Thumbnail Strip Styles */
.thumbnail-strip {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(216, 101, 134, 0.6);
    padding: 5px 0;
    overflow: hidden;

    padding-right: 20px;
}

.thumbnail-strip img {
    max-height: 17vh;
    /* Adjust based on your preference */
    height: auto;
    /* Maintain aspect ratio */
    width: auto;
    /* Adjust width while maintaining aspect ratio */
    margin: 0 5px;
    /* Adjust margin as needed */
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.thumbnail-strip img:hover {
    transform: scale(1.1);
}



#message {
    font-size: 24px;
    display: none;
    text-align: center;
    z-index: 999;
}

#backButton svg {
    display: inline-flex;
}





#messageText {
    /* Initially hidden */
    display: none;
}

.messageShown {
    position: fixed;
    float: right;
    height: 43px;
    padding: 0px 18px;
    text-align: center;
    border-radius: 19px; /* Change shape when text is shown */
    font-family: 'ApercuMono';  
    z-index: 15;
}

#messageText {
    /* Initially hidden */
    display: none;
}

  

@media screen and (min-width: 750px) and (min-aspect-ratio: 1/1) {
    h1 {
        font-size: 25px;
        margin: 3px;
    }

    h2 {
        font-size: 16px;
        margin: 2px;
    }

    p {
        font-family: 'ApercuRegular';
        font-size: 15px;
        color: #E9C895;
        font-weight: normal;
    }
}

@media screen and (min-width: 1248px) and (min-aspect-ratio: 1/1) {


    .bd h1 {
        font-family: 'ApercuBold';
        font-size: 37px;
        color: #9EC680;
        font-weight: normal;
        align-self: flex-end;
    }



    .bd h2,
    .cubebuttons h2 {
        font-family: 'ApercuMono';
        font-size: 25px;
        color: #E9C895;
        font-weight: normal;

    }

    h3 {
        font-family: 'ApercuMedium';
        font-size: 27px;
        color: #9EC680;
        font-weight: normal;
    }

    h4 {
        font-family: 'ApercuMono';
        font-size: 13px;
        color: #E9C895;
        font-weight: normal;
    }




    .bar4 {
        position: relative;
        left: 180px;
        width: 100%;
        height: 10px;
        background-color: #D86586;
        margin: 3px 0;
    }

    #bm {
        height: 712px;
        width: 1248px;
        margin: auto auto;
        background-color: #4347C5;
        position: relative;


    }

    #dc {
        border-right: solid #D86586;
    }

    .expbar {
        width: 30px;
        height: 5px;
        background-color: #D86586;
        margin: 3px 0;
        transition: 0.4s;
    }

    .expTime {
        font-family: 'ApercuMedium';
        font-size: 17px;
        color: #E9C895;
        font-weight: normal;
        line-height: 50%;
    }

    .expRole {
        font-family: 'ApercuMedium';
        font-size: 17px;
        color: #9EC680;
        font-weight: normal;
        line-height: 0%;

    }

    .expPlace {
        font-family: 'ApercuMedium';
        font-size: 17px;
        color: #E9C895;
        font-weight: normal;
        line-height: 50%;
    }

    .expPlaceB {
        font-family: 'ApercuMedium';
        font-size: 17px;
        color: #E9C895;
        font-weight: normal;
        line-height: 50%;
        text-decoration: none;
    }

    .expTimeB {
        font-family: 'ApercuMedium';
        font-size: 17px;
        color: #E9C895;
        font-weight: normal;
        line-height: 50%;
        text-decoration: none;
    }

    li {
        font-family: 'ApercuRegular';
        font-size: 17px;
        color: #9EC680;
        font-weight: normal;
    }

    .expList {
        position: relative;
        left: -1.5em;
        top: 0em;
    }

    .confident {
        line-height: 0%;
        margin-bottom: -0.8em;
        font-size: 13.5px;
        color: #D86586;
    }

    .tool {
        line-height: 0%;
        margin-bottom: -0.5em;
        color: #E9C895;
    }

    .projGallery {
        height: 295px;
        width: 100%;
    }

    .imgGallery {
        height: 295px;
        width: auto;
        margin: 15px;
    }

    .projGalleryS {
        height: 205px;
        width: 100%;
    }

    .imgGalleryS {
        height: 205px;
        width: auto;
        margin: 15px;
        margin-bottom: 0%;
    }

    /* 
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 190px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px #E9C895;
        z-index: 1;
        left: 55px;
        top: 5px;
    }

    .dropdown-content a {
        font-family: 'ApercuMono';
        font-size: 20px;
        color: #E9C895;
        font-weight: normal;
        padding: 13px 0vw 13px 13px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {
        background-color: #D86586;
    } */

    .show {
        display: block;
    }



}



@media screen and (min-width: 1400px) {

    div.category {
        position: relative;
        display: inline-flex;
        width: 284px;
        height: 397px;
        object-fit: cover;
        margin: 28px;

    }

    .category img {
        z-index: -1;
        object-fit: cover;
    }

    div.categoryCaption {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 42.6px;
        width: 242px;
        background-color: #D86586;
        font-family: 'ApercuMedium';
        font-size: 26px;
        color: #E9C895;
        font-weight: normal;
        text-align: center;
        padding: 17.75px 21.3px 17.75px 21.3px;

    }

    .projImg {
        display: inline-flex;
        position: absolute;
        object-fit: cover;
        height: 100%;
        bottom: 78.1px;
        clip: rect(78.1px, 284px, 852px, 0vw);

    }

    .proto {
        padding: 0vw 21px 24px 21px;
        line-height: 90%;
    }

    .up1 {
        top: 0px;
    }

    .aboutText {
        top: 0vw;
    }

    #projectContent {
        position: relative;
        float: right;
        margin-right: 10vw;
        width: 80vw;
        max-width: 1400px;
        object-fit: cover;
    }

    #projectContentB {
        position: relative;
        float: right;
        margin-right: 10vw;

        width: 80vw;
        max-width: 1400px;
        object-fit: cover;
    }

    #projectContentC {
        position: relative;
        margin: auto;
        height: fit-content;
        width: 80vw;
        max-width: 1400px;
        object-fit: cover;
    }

}

@media screen and (max-width: 750px) {

    .dropbtn {
        transform: scale(80%);
     
    }
    .buttonA {
        transform: scale(80%);
    }
    #prev-button,
    #next-button, 
    #backButton,
    #menuToggle {
        transform: scale(80%);
    }

    #bm {
        zoom: 1.08;
        width: 108vw;
        height: auto;
        margin-left: -8%;
    }

    .bd h2,
    .cubebuttons h2 {
        font-size: 2vw;
    }

    .bd h1 {
        font-size: 3vw;
    }





}

@media screen and (max-width: 670px) {
    #bm {
        zoom: 1.15;
        width: 115%;
        margin-left: -7.5%;
    }

    .bd h2,
    .cubebuttons h2 {
        font-size: 2.05vw;
    }

    .bd h1 {
        font-size: 3.05vw;
    }




    .dropdown-content {
        min-width: 120px;
    }

    .dropdown-content a {
        font-size: 13px;
        padding: 6.5px 0vw 6.5px 6.5px;

    }

}




@media screen and (max-width: 500px) {
    .dropbtn {
        transform: scale(70%);
    }
    .buttonA {
        transform: scale(70%);
    }
    #prev-button,
    #next-button, 
    #backButton,
    #menuToggle {
        transform: scale(70%);
    }

    h1 {
        font-size: 15px;
        margin: 3px;
    }

    h2 {
        font-size: 10px;
        margin: 2px;
    }

    p {
        font-family: 'ApercuRegular';
        font-size: 10px;
        color: #E9C895;
        font-weight: normal;
    }

    #bm {
        zoom: 1.3;
        width: 130%;
        margin-left: -15%;
    }

    #bc,
    #cb,
    #cc,
    #dc,
    #ec,
    #ed {
        border-width: 0.5vw;
    }

    .bd h2,
    .cubebuttons h2 {
        font-size: 2.15vw;
    }

    .bd h1 {
        font-size: 3.2vw;
    }


    .bar1,
    .bar2,
    .bar3 {
        width: 4vw;
        height: 0.6vw;
        margin: 0.6vw 0;
        transition: 0s;
    }

    /* .dropbtn {
        padding-top: 1.6vw;
        padding-right: 2vw;
        padding-bottom: 1.6vw;
        padding-left: 2vw;
        margin: 1vw;
    }



    .Backbutton {
        padding: 2.6vw 3vw;
        bottom: 2vw;
        right: 2vw;
        font-size: 4vw;
        border-radius: 50%;
    }

    .Backbutton:hover {
        box-shadow: 0px 1.6vw 3.2vw 0px #E9C895;
    }

    .Backbutton:focus {
        background-color: #E9C895;
        color: #4347C5;
    }
 {
        padding: 1.1vw 1.1vw;
        bottom: 2vw;
        left: 2vw;
        font-size: 4vw;
        border-radius: 1vw;

    }

    .buttonA:hover {
        box-shadow: 0px 1.6vw 3.2vw 0px #E9C895;
    }
 */



    .eye {
        width: 7vw;
        height: 7vw;
    }

    .dropdown-content {
        min-width: 92px;
    }

    .dropdown-content a {
        font-size: 10px;
        padding: 5px 0vw 5px 5px;

    }
}

@media screen and (max-width: 350px) {
    .dropbtn {
        transform: scale(45%);
    }
    .buttonA {
        transform: scale(45%);
    }
    #prev-button,
    #next-button, 
    #backButton,
    #menuToggle {
        transform: scale(45%);
    }
    #bm {
        zoom: 1.35;
        width: 135%;
        margin-left: -18%;
    }


    #bc,
    #cb,
    #cc,
    #dc,
    #ec,
    #ed {
        border-width: thin
    }

    .bd h2,
    .cubebuttons h2 {
        font-size: 2.22vw;

    }

    .bd h1 {
        font-size: 3.3vw;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 14px;
        height: 2.1px;
        margin: 2.1px 0;
        transition: 0s;
    }

    /* .dropbtn {
        padding-top: 5.6px;
        padding-right: 7px;
        padding-bottom: 5.6px;
        padding-left: 7px;
        margin: 3.5px;
    }
 */



    /* .button {
        padding: 9.1px 10.5px;
        bottom: 7px;
        right: 7px;
        font-size: 14px;
        border-radius: 3.5px;
    }

    .button:hover {
        box-shadow: 0px 5.6px 11.2px 0px #E9C895;
    }

    .button:focus {
        background-color: #E9C895;
        color: #D86586;
    } */

    /* .buttonA {
        padding: 3.5px 3.5px;
        bottom: 7px;
        left: 7px;
        font-size: 14px;
        border-radius: 3.5px;
    }

    .buttonA:hover {
        box-shadow: 0px 5.6px 11.2px 0px #E9C895;
    } */


    .eye {
        width: 24.5px;
        height: 24.5px;
    }

    .dropdown-content {
        min-width: 60px;
    }

    .dropdown-content a {
        font-size: 7px;
        padding: 3.5px 0vw 3.5px 3.5px;

    }



}

@media screen and (min-aspect-ratio:4/3) and (max-height: 800px) {


    #bm {
        width: 157.5vh;
        height: 90vh;
        position: relative;
        zoom: 1.00;
        margin-left: auto;
        margin-right: auto;
        top: -15vh;

    }

    .bd h1 {
        font-family: 'ApercuBold';
        font-size: 5vh;
        color: #9EC680;
        font-weight: normal;
    }

    .bd h2,
    .cubebuttons h2 {
        font-family: 'ApercuMono';
        font-size: 3.2vh;
        color: #E9C895;
        font-weight: normal;
        bottom: 0;


    }
}

@media screen and (max-aspect-ratio:4/3) and (min-width: 750px),
(max-width: 160vh) {

    #bm {
        left: calc(50% - 78.7vh);
    }


}