themeD {
    BkgColour: #E5E5E5; 
    CubeColour: #966D99; 
    Header:  #301540; 
    Text:  #B52C56; 
    background-color: rgba(48, 21, 64, 0.95);
    background-color: rgba(150, 109, 153, 0.6);
}

themeO {
    BkgColour:  #ECB9B8; 
    CubeColour:  #E3739B; 
    Header:  #2F2756; 
    Text:  #444B68; 
    background-color: rgba(47, 39, 86, 0.95);
    background-color: rgba(227, 115, 155, 0.6);
}

themeR {
    BkgColour:  #4347C5; 
    CubeColour:  #D86586; 
    Header:  #9EC680; 
    Text:  #E9C895; 
    background-color: rgba(158, 198, 128, 0.95);
    background-color: rgba(216, 101, 134, 0.6);
}

themeT {
    BkgColour:  #FBE5D0; 
    CubeColour:  #B83C00; 
    Header:  #F47F3C; 
    Text:  #7B2800; 
    background-color: rgba(244, 127, 60, 0.95);
    background-color: rgba(184, 60, 0, 0.6);
}

themeE {
    BkgColour:  #831636; 
    CubeColour:  #F45F5B; 
    Header:  #9ECB70; 
    Text:  #FCC662; 
    background-color: rgba(158, 208, 112, 0.95);
    background-color: rgba(244, 95, 91, 0.6);
}

themeA {
    BkgColour:  #2B1100; 
    CubeColour:  #F37004; 
    Header:  #456EE0; 
    Text:  #F6BE8F; 
    background-color: rgba(69, 110, 224, 0.95);
    background-color: rgba(243, 112, 4, 0.6);
}

themeB {
    BkgColour:  #222656; 
    CubeColour:  #B9A2BE; 
    Header:  #DF6510; 
    Text:  #E5C6A7; 
    background-color: rgba(223, 101, 16, 0.95);
    background-color: rgba(185, 162, 190, 0.6);
}

themeJ {
    BkgColour:  #010004; 
    CubeColour:  #59924D; 
    Header:  #CA4A2D; 
    Text:  #BEBB74; 
    background-color: rgba(202, 74, 45, 0.95);
    background-color: rgba(89, 146, 77, 0.6);
}

themeI {
    BkgColour:  #FCEAAC; 
    CubeColour:  #A2C970; 
    Header:  #E7524C; 
    Text:  #801738; 
    background-color: rgba(231, 82, 76, 0.95);
    background-color: rgba(162, 201, 112, 0.6);
}

themeC {
    BkgColour:  #D0E1FD; 
    CubeColour:  #AB3334; 
    Header:  #181B20; 
    Text:  #324C85; 
    background-color: rgba(24, 27, 32, 0.95);
    background-color: rgba(171, 51, 52, 0.6);
}

themeW {
    BkgColour:  #584036; 
    CubeColour:  #889E5D; 
    Header:  #F49F4F; 
    Text:  #F8E6B8; 
    background-color: rgba(244, 159, 79, 0.95);
    background-color: rgba(136, 158, 93, 0.6);
}