themeD {
    BkgColour: #E5E5E5; 
    CubeColour: #966D99; 
    Header:  #301540; 
    Text:  #B52C56; 
}

themeO {
    BkgColour:  #ECB9B8; 
    CubeColour:  #E3739B; 
    Header:  #2F2756; 
    Text:  #444B68; 
}

themeR {
    BkgColour:  #4347C5; 
    CubeColour:  #D86586; 
    Header:  #9EC680; 
    Text:  #E9C895; 
}

themeT {
    BkgColour:  #FBE5D0; 
    CubeColour:  #B83C00; 
    Header:  #F47F3C; 
    Text:  #7B2800; 
}

themeE {
    BkgColour:  #831636; 
    CubeColour:  #F45F5B; 
    Header:  #9ECB70; 
    Text:  #FCC662; 
}

themeA {
    BkgColour:  #2B1100; 
    CubeColour:  #F37004; 
    Header:  #456EE0; 
    Text:  #F6BE8F; 
}

themeB {
    BkgColour:  #222656; 
    CubeColour:  #B9A2BE; 
    Header:  #DF6510; 
    Text:  #E5C6A7; 
}

themeJ {
    BkgColour:  #010004; 
    CubeColour:  #59924D; 
    Header:  #CA4A2D; 
    Text:  #BEBB74; 
}

themeI {
    BkgColour:  #FCEAAC; 
    CubeColour:  #A2C970; 
    Header:  #E7524C; 
    Text:  #801738; 
}

themeC {
    BkgColour:  #D0E1FD; 
    CubeColour:  #AB3334; 
    Header:  #181B20; 
    Text:  #324C85; 
}

themeW {
    BkgColour:  #584036; 
    CubeColour:  #889E5D; 
    Header:  #F49F4F; 
    Text:  #F8E6B8; 
}